.banner {
  background: url("./images/12.jpg") center center;
  height: 50vh;
  position: relative;
}

.banner__info {
  background-color: none;
  color: white;
  padding-top: 20vh;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 40px;
  width: 300px;
}

.banner__search {
  display: flex;
  flex-direction: column;
}

.banner__searchButton {
  background-color: white !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  color: #9932cc !important;
}

.banner__info > button {
  background-color: ##9932cc;
  color: white;
  text-transform: inherit;
  margin-top: 20px;
  font-weight: 600;
}

.banner__info > button:hover {
  background-color: white;
  color: #9932cc;
}

.banner__info > h5 {
  margin-top: 10px;
}
