.banner {
  background: url("https://images.unsplash.com/photo-1564807212154-111894df1fda?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1577&q=80")
    center center;
  height: 50vh;
  position: relative;
}

.banner__info {
  background-color: none;
  color: white;
  padding-top: 20vh;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 40px;
  width: 300px;
}

.banner__search {
  display: flex;
  flex-direction: column;
}


.banner__searchButton {
  background-color: #4b0082 !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  color: #ffff !important;
}

.banner__info > button {
  background-color: #4b0082;
  color: white;
  text-transform: inherit;
  margin-top: 20px;
  font-weight: 600;
}

.banner__info > button:hover {
  background-color: white;
  color: #4b0082;
}

.banner__info > h5 {
  margin-top: 10px;
}
