.casa {
  position: center;
  width: 900px;
  height: auto;
  box-sizing: border-box;
}

.content {
  position: relative;
  width: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  padding: 100%;
}

.titleText {
  color: #111;
  font-size: 2em;
  font-weight: 300;
}

.textBox {
  position: relative;
  width: 900px;
  margin-right: 20px;
}
